{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Meetups{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/static/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/static/styles/a11_meetups.css' %}">
    {% block site_css %} {% endblock %}
</head>

<body>
<header id="main-header">
    <nav><a href="/meetups" id="main-logo">DjangoMeetUps</a></nav>
    <h1>{% block main_heading %} {% endblock %}</h1>
    {% block header_content %} {% endblock %}

</header>
 <nav><a href=""></a></nav>
<main>
    {% block body %} {% endblock %}
</main>
<p>All meetups</p>

{% if show_meetups %}
{% for meet_item in meetups %}
   <p>{{ meetup_item.title }}</p>
{% endfor %}
<h2>{{ meetups.0.title }}</h2>
{% else %}
<p>no meetup</p>
{% endif %}
</body>
</html>